/* #region BUTTONS */
.link-button {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    cursor: default;
    color: var(--col-accent);
    text-decoration: underline;
    text-decoration-color: var(--col-accent);
    cursor: pointer;
}

.link-button:visited {
    color: var(--col-accent-dark);
    text-decoration-color: var(--col-accent-dark);
}

.link-button:focus {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    cursor: default;
    color: var(--col-accent);
    text-decoration: underline;
    text-decoration-color: var(--col-accent);
    cursor: pointer;
}

.link-button:focus-visible {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    cursor: default;
    color: var(--col-accent);
    text-decoration: underline;
    text-decoration-color: var(--col-accent);
    cursor: pointer;
    outline: 2px solid var(--col-accent);
}

.link-button:hover {
    color: var(--col-accent-light);
}

.link-button:disabled {
    color: var(--col-accent-light);
    cursor: not-allowed;
}

/* #endregion */

/* #region GITHUB BANNER */
.github-banner-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* #endregion */

/* #region CODE TABS */
.code-tabs {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.code-tablist {
    display: flex;
    flex-flow: row wrap;
    margin: -16px 0 0 -16px;
}

.code-tab {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    cursor: default;
    margin: 16px 0 0 16px;
    padding: 12px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: var(--col-accent);
    cursor: pointer;
}

.code-tab[aria-selected="true"] {
    color: var(--col-accent-light);
    font-weight: bold;
    cursor: default;
}

.code-tab:focus-visible {
    outline: 2px solid var(--col-accent);
}

.code-tabpanel {
    margin: 0 auto;
}

/* #endregion */

/* #region CARD */
.card {
    max-width: 327px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--col-accent);
}

.card-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color: var(--col-primary);
}

.card-body p:last-child {
    margin-bottom: 0;
}

/* #endregion */

/* #region CARD LIST */
.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: calc(-32px) 0 0 calc(-32px);
    padding: 2rem 0 2rem 0;
}

.card-list>* {
    margin: 32px 0 0 32px;
}

/* #endregion */

/* #region DOC PAGINATION */
.doc-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: calc(-16px) 0 0 calc(-16px);
    padding: 2rem 0 2rem 0;
}

.doc-pagination>* {
    margin: 16px 0 0 16px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
}

/* #endregion */

/* #region IMAGE WITH CAPTION */
.image-with-caption {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.image-with-caption picture {
    width: 100%;
    max-width: 650px;
}

.image-with-caption img {
    width: 100%;
    height: auto;
}

.image-with-caption .text-caption-1 {
    margin-top: 8px;
}

/* #endregion */
