/* https://reasonable.work/colors/ primary: sky, secondary: gray, accent: green */
:root {
    --col-background: #e3f7ff;
    --col-line: #aee9ff;
    --col-primary-dark: #001f28;
    --col-primary: #00404f;
    --col-primary-light: #007590;
    --col-secondary-dark: #222222;
    --col-secondary: #3e3e3e;
    --col-secondary-light: #6f6f6f;
    --col-accent-dark: #062800;
    --col-accent: #004908;
    --col-accent-light: #008217;
    --col-disabled: #8b8b8b;

    --icon-size-small: 0.75rem;
    --icon-size-medium: 1rem;
    --icon-size-large: 1.25rem;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--col-background);
    color: var(--col-secondary);
}

/* #region TYPOGRAPHY */
.serif {
    font-family: "Times New Roman", Times, serif;
}

.sans-serif {
    font-family: arial, sans-serif;
}

.monospace {
    font-family: monospace;
}

.text-h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

.text-h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 1.2;
}

.text-h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    line-height: 1.2;
}

.text-h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
    line-height: 1.2;
}

.text-h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
    font-variant: small-caps;
    line-height: 1.2;
}

.text-body-1 {
    font-family: arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

.text-caption-1 {
    font-family: arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
}

.text-monospace {
    font-family: monospace;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* #endregion */

/* #region UNSTYLING */
.unstyle {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    cursor: default;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* #endregion */
