body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--col-primary)
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 1.2;
}


h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    line-height: 1.2;
}


h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
    line-height: 1.2;
}

h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
    font-variant: small-caps;
    line-height: 1.2;
}

.subheader {
    font-family: arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: var(--col-accent);
    margin-bottom: 0.5rem;
}

p {
    font-family: arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

@media screen and (max-width: 1400px) {
    pre {
        overflow-x: auto;
    }
}

pre {
    border-left: 3px solid var(--col-primary-dark);
    padding-left: 1rem;
}
