/* #region BUTTONS */
.link-button {
    /*! PREPROCESSOR: import .unstyle */
    color: var(--col-accent);
    text-decoration: underline;
    text-decoration-color: var(--col-accent);
    cursor: pointer;
}

.link-button:visited {
    color: var(--col-accent-dark);
    text-decoration-color: var(--col-accent-dark);
}

.link-button:focus {
    /*! PREPROCESSOR: import .link-button FROM /css/components.css */
}

.link-button:focus-visible {
    /*! PREPROCESSOR: import .link-button FROM /css/components.css */
    outline: 2px solid var(--col-accent);
}

.link-button:hover {
    color: var(--col-accent-light);
}

.link-button:disabled {
    color: var(--col-accent-light);
    cursor: not-allowed;
}

/* #endregion */

/* #region GITHUB BANNER */
.github-banner-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* #endregion */

/* #region CODE TABS */
.code-tabs {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.code-tablist {
    display: flex;
    flex-flow: row wrap;
    margin: -16px 0 0 -16px;
}

.code-tab {
    /*! PREPROCESSOR: import .unstyle */
    margin: 16px 0 0 16px;
    padding: 12px;
    /*! PREPROCESSOR: import .text-caption-1 */
    color: var(--col-accent);
    cursor: pointer;
}

.code-tab[aria-selected="true"] {
    color: var(--col-accent-light);
    font-weight: bold;
    cursor: default;
}

.code-tab:focus-visible {
    outline: 2px solid var(--col-accent);
}

.code-tabpanel {
    margin: 0 auto;
}

/* #endregion */

/* #region CARD */
.card {
    max-width: 327px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--col-accent);
}

.card-title {
    /*! PREPROCESSOR: import .text-h4 */
    color: var(--col-primary);
}

.card-body p:last-child {
    margin-bottom: 0;
}

/* #endregion */

/* #region CARD LIST */
.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: calc(-32px) 0 0 calc(-32px);
    padding: 2rem 0 2rem 0;
}

.card-list>* {
    margin: 32px 0 0 32px;
}

/* #endregion */

/* #region DOC PAGINATION */
.doc-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: calc(-16px) 0 0 calc(-16px);
    padding: 2rem 0 2rem 0;
}

.doc-pagination>* {
    margin: 16px 0 0 16px;
    /*! PREPROCESSOR: import .text-caption-1 */
}

/* #endregion */

/* #region IMAGE WITH CAPTION */
.image-with-caption {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.image-with-caption img {
    width: 100%;
}

.image-with-caption .text-caption-1 {
    margin-top: 8px;
}

/* #endregion */
